#Gradle files
.gradle
**/build/
!src/**/build/
**/logs/
!**/src/logs/

# Ignore Gradle GUI config
gradle-app.setting

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Avoid ignoring Gradle wrappper properties
!gradle/wrapper/gradle-wrapper.properties

.idea
.DS_Store
